<div class="footer">
    <!-- <div class="api-dev-info">This API is developed and maintained by</div>
    <div class="author">
        <div class="name">Subhash Sarangi</div>
        <div class="author-info">Full Stack Developer</div>
    </div> -->
    <a href="#" class="github-icon">
        <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    <a href="#" class="mail-icon">
        <i class="fa fa-envelope" aria-hidden="true"></i>
    </a>
</div>