<div class="landing">
    <div class="header">
        <div class="header">
            <div class="logo">C19 API</div>
        </div>
        <div class="api-info">
            <div class="api-logo">
                <img src="/images/charts-logo.jpg" alt="charts">
            </div>
            <h2>Predictions</h2>
            <div class="description">
                This API provides you with the predictions of next seven days' active cases and deaths of a
                particular region in any country!
            </div>
        </div>
    </div>
    <div class="scroll-bottom">
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
    </div>
</div>